/* Bodyn ja otsikoiden fonttien määritttelyä */
body {
  font-family: system-ui, Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #eeeeee;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
}

h2 {
  font-size: 3.25rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
}

/*  */
.header-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header {
  padding-top: 0px;
  background-color: #eeeeee;
}

header img {
  width: 350px;
  margin-left: 40px;
  padding-bottom: 0;
}

nav {
  background-color: #eeeeee;
  margin-top: 70px;
  margin-right: 30px;
}

nav a {
  padding: 10px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  border-right: 1px solid #829460;
}

nav a:last-child {
  border-right: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Sisältö alkaa */

/* Sivun bannerikuva */
.front-image {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 500px;
  margin: 0px;
  padding: 0px;
  background-image: url("images/frontpage1.jpg");
  background-position: center;
}


.opening {
  background-color: black;
  opacity: 0.8;
  width: 400px;
  height: 400px;
  margin-right: 100px;
  text-align: center;
  font-weight: bold;
}

.opening h2 {
  color: #f96666;
}
.opening p {
  color: #f96666;
  font-size: 20px;
}

.section-flex {
  display: flex;
  padding: 5px;
  text-align: left;
}

.section-flex article {
  padding: 20px;
  margin: 20px;
}

article h2 {
  color: #B7343A;
}

/* Footer osio alkaa */

footer {
  background-color: #eeeeee;
  color: black;
  padding: 50px;
  margin: 0px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

footer div {
  padding-top: 20px;
}

footer a {
  color: black;
}

footer h3 {
  color: #B7343A;
}

.button {
  margin-top: 35px;
  background-color: #B7343A;
  border: none;
  color: #eeeeee;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.button:hover {
  background-color: #B7143A;
}

/* Gridit menua varten */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row: auto;
  gap: 5px;
  background-color: #d8d8d8;
  color: black;
  padding: 5px;
}

.grid-container > div {

  background-color: #EEEEEE;
  text-align: center;
  padding: 10px;
  
}

.section-flexmenu {
  padding: 20px;
  margin: 20px;
  text-align: center;
  justify-content: center;
}

.menu-header{
  color: #B7343A;
  text-align: center;
  font-weight: bold;
}


/* Tapahtuu kun ruutu pienenee */

@media only screen and (max-width: 700px) {
  .header-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav {
    padding-bottom: 30px;
    margin-top: 0px;
  }
  header img {
    margin-left: 0;
  }
  footer {
    flex-direction: column;
  }
  .front-image {
    justify-content: center;
  }
  .opening {
    margin-right: 0px;
  }
  .section-flex {
    flex-direction: column;
  }
}
