/* Bodyn ja otsikoiden fonttien määritttelyä */
body {
  font-family: system-ui, Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #eeeeee;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
}

h2 {
  font-size: 3.25rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
}

/*  */
.header-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header {
  padding-top: 0px;
  background-color: #eeeeee;
}

.header-flex img {
  width: 350px;
  margin-left: 40px;
  padding-bottom: 0;
}

.navbar {
  background-color: #eeeeee;
  margin-top: 70px;
  margin-right: 30px;
}

.navbar a {
  padding: 10px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  border-right: 1px solid #829460;
}

nav a:last-child {
  border-right: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Sisältö alkaa */

/* Sivun bannerikuva */
.front-image {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 500px;
  margin: 0px;
  padding: 0px;
  background-image: url("images/frontpage1.jpg");
  background-position: center;
}

.container-background {
  background-color: black;
  opacity: 0.8;
  width: 400px;
  height: 400px;
  margin-right: 100px;
  text-align: center;
  font-weight: bold;
}

.container-background h1 {
  color: #f96666;
  font-weight: normal;
}
.container-background p {
  color: #f96666;
  font-size: 20px;
}

.section-flex {
  display: flex;
  padding: 5px;
  text-align: left;
}

.article-text {
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0.5rem 1rem rgb(0 50 100 / 0.25);
}

article h2 {
  color: #b7343a;
}

/* Footer osio alkaa */

.footer-flex {
  background-color: #eeeeee;
  color: black;
  padding: 50px;
  margin: 0px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.footer-flex div {
  padding-top: 20px;
}

.footer-flex a {
  color: black;
}

.footer-flex h3 {
  color: #b7343a;
}

.btn {
  margin-top: 35px;
  background-color: hsl(357, 56%, 46%);
  border: none;
  color: #eeeeee;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

/* Buttonien väri kun kursorin vie päälle*/
.button:hover {
  background-color: #b7143a;
}

/* Gridit menua varten */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row: auto;
  gap: 5px;
  background-color: #d8d8d8;
  color: black;
  padding: 5px;
}

.grid-container > div {
  background-color: #eeeeee;
  text-align: center;
  padding: 10px;
}

.grid-menu {
  padding: 20px;
  margin: 20px;
  text-align: center;
  justify-content: center;
}

.menu-header {
  color: #b7343a;
  text-align: center;
  font-weight: bold;
}

/* Yhtestieto sivu*/
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f96666;
  margin-inline: 20px;
  margin-left: 50px;
  margin-top: 40px;
}

.sijainti-container {
  text-align: center;
  color: #f96666;
}

.map-container {
  display: flex;
  width: 33%;
  box-sizing: border-box;
  /* padding: 20px; */
  /* flex: 1; */
  margin-inline: 20px;
  margin-right: 50px;
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.map-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  margin-top: 35px;
  background-color: #f96666;
  border: none;
  color: #eeeeee;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

/* Tapahtuu kun ruutu pienenee */

@media only screen and (max-width: 700px) {
  .header-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav {
    padding-bottom: 30px;
    margin-top: 0px;
  }
  header img {
    margin-left: 0;
  }
  footer {
    flex-direction: column;
  }
  .front-image {
    justify-content: center;
  }
  .opening {
    margin-right: 0px;
  }
  .section-flex {
    flex-direction: column;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-row: auto;
    gap: 0px;
    background-color: #d8d8d8;
    color: black;
    padding: 0px;
  }
  .section-flexmenu {
    padding: 0px;
    margin: 0px;
    text-align: center;
    justify-content: center;
  }

  .flex-container {
    flex-direction: column;
  }
}
